body
{
	background-image: url(../images/b007.gif);
    width: 800px;
    margin-right: auto;
    margin-left : auto;
    font-size: 0.9em;
    line-height: 1.75em;
}

table
{
	background-color: #FCFAF3;
	box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);

	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;

	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table[name=table_post]
{
	font-size: small;
}

table[name=top_link]
{
	box-shadow: none;
	vertical-align: top;

	width: 100%;
}

td
{
	padding: 1em;
}

input
{
	border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
}

input.file
{
	display: none;
}

textarea
{
	border: 2px;
	border-style: inset;
	border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
}

span.product
{
    font-weight: bold;
	font-size: 1.6em;
    line-height: 2em;
}

h1
{
    text-align: center;
}

h4
{
    line-height: 0.5em;
}

div.copyright
{
    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
}